@page
@model LaFlorida.Pages.Cycles.EditModel

@{
    ViewData["Title"] = "Editar Ciclo";
}

<h1>Editar</h1>

<h4>Ciclo @Html.DisplayFor(model => model.Cycle.Name)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Cycle.CycleId" />
            <input type="hidden" asp-for="Cycle.CreateDate" />
            <div class="form-group">
                <label asp-for="Cycle.Name" class="control-label"></label>
                <input asp-for="Cycle.Name" class="form-control" />
                <span asp-validation-for="Cycle.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cycle.CropId" class="control-label"></label>
                <select asp-for="Cycle.CropId" class="form-control" asp-items="ViewBag.CropId"></select>
                <span asp-validation-for="Cycle.CropId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cycle.LotId" class="control-label"></label>
                <select asp-for="Cycle.LotId" class="form-control" asp-items="ViewBag.LotId"></select>
                <span asp-validation-for="Cycle.LotId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cycle.IsComplete" class="control-label"></label>
                <input asp-for="Cycle.IsComplete" class="form-control" />
                <span asp-validation-for="Cycle.IsComplete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cycle.IsRent" class="control-label"></label>
                <input asp-for="Cycle.IsRent" class="form-control" />
                <span asp-validation-for="Cycle.IsRent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

