@page
@model LaFlorida.Pages.Importer.ImportCostsModel
@{
    ViewData["Title"] = "Importar Costos";
}

<h1>Importar</h1>

<h4>Costos</h4>

<div class="row">
    <div class="col-md-12">
        <form method="post" asp-page-handler="ValidateFile" data-ajax="true" data-ajax-update="#importCostsPartial" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <input type="file" asp-for="ValidateFile" />
            <button type="submit" class="btn btn-primary">Validar archivo</button>
        </form>
    </div>

    <div class="col-md-12 mt-3" id="importCostsPartial">
    </div>
</div>