@page
@model LaFlorida.Pages.CropReportModel
@{
    ViewData["Title"] = "Reporte por Cultivo";
}

<h1>Reporte por Cultivo</h1>

<div class="row">
    <partial name="_SummaryReportPartial" model="@Model.SummaryStatistics" />
    <div class="col-md-6 col-12 my-3">
        <form class="form-inline" method="post" asp-page-handler="GenerateReport" data-ajax="true" data-ajax-method="post" data-ajax-update="#report" data-ajax-loading="#spinner">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Crop.CropId" class="control-label mx-2"></label>
                <select asp-for="Crop.CropId" class="form-control" asp-items="ViewBag.CropId"></select>
                <span asp-validation-for="Crop.CropId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Ver Reporte" class="btn btn-primary mx-2" />
                <span id="spinner" style="display:none;"><i class="fas fa-spinner fa-spin"></i></span>
            </div>
        </form>
    </div>
    <div class="col-md-12" id="report">
        <partial name="_CropReportPartial" model="@Model.CycleStatistics" />
    </div>
</div>
