@page
@model LaFlorida.Pages.Crops.CreateModel

@{
    ViewData["Title"] = "Crear Cultivo";
}

<h1>Crear</h1>

<h4>Cultivo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Crop.Name" class="control-label"></label>
                <input asp-for="Crop.Name" class="form-control" />
                <span asp-validation-for="Crop.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crop.Lenght" class="control-label"></label>
                <input asp-for="Crop.Lenght" class="form-control" />
                <span asp-validation-for="Crop.Lenght" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Regresar</a>
</div>

